MONGODB_URI=""
NEXTAUTH_SECRET="337fd7e90f83752fc2f90e989818301e"
NEXTAUTH_URL="""
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME=""
AZURE_EMAIL_CONNECTION_STRING=""
AZURE_RESOURCE_NAME=""
AZURE_API_KEY=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_BASE=""
JWT="a3b9f2d847e5c1b6092a7a3d4e9f0c8b1d2e3f4a5b6c7d8e9f0g1h2i3j4k5l6m7"
ANTHROPIC_API_KEY=""
